{% extends 'base/main.html' %}

{% load static %}

{% block content %}

<div class="nav1">
{% if request.user.is_authenticated %}
<h2>Hello {{request.user|title}}</h2>
<small>You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s"}}</small>
<a class="btn btn-warning" href="{% url 'logout' %}">Logout</a>
{% else %}
<a class="btn btn-success" href="{% url 'login' %}">Login</a>
{% endif %}

</div>
<hr>
 <div class="container-fluid "> 
    
    <h1 class="todo my-10" >My TO DO List</h1>
    
   </div>
  
<div class="nav mt-10"> 
<a class=" icon" href="{% url 'create' %}"><i class="fas fa-plus-square"></i></a>
<nav class="navbar navbar-light bg-light ">
 <div class="container-fluid">
    <form method="GET" class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search-area" value="{{search_input}}">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>
{% if tasks %}
<table class="table table-hover">
  <thead>
    <tr class="text-center">
      <th scope="col">Items</th>
      <th scope="col">Edit</th>
  
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
    <tr class="text-center">
    {% if task.complete %}
   
 <td>  <div class="task-complete"></div>  <a class="task-title text-decoration-line-through" href="{% url 'detail' task.id %}">{{task.title}}</a></td>
      <td> <a class="btn btn-primary" href="{% url 'update' task.id %}" type="submit"><i class="fas fa-edit"></i></a</td>
      
     <td><a class="btn btn-danger" href="{% url 'delete' task.id %}"><i class="fas fa-trash"></i></a></td>
    </tr> 
  {% else %}
  
  <td>  <div class="task-incomplete"></div> <a class="task-title" href="{% url 'detail' task.id %}">{{task.title}}</a></td>
      <td> <a class="btn btn-primary" href="{% url 'update' task.id %}" type="submit"><i class="fas fa-edit"></i></a</td>
      
     <td><a class="btn btn-danger" href="{% url 'delete' task.id %}"><i class="fas fa-trash"></i></a></td>
    </tr> 
    {% endif %} 
    {% endfor %}
     {% else %}
    <h2 class="text-center">No Item is here</h2> 
   
  </tbody>
</table>
 {% endif %} 
 
 </div> 
{% endblock content %}